#login{
    padding: 15px 0;
    width: 400px;
    text-align: center;
    background-color: #fafafa;
    position: relative;
    z-index: 1000;
    margin: 22em auto;
}

#login .get_sms{
    display: block;
    float: right;
    position: relative;
    top: -50px;
    right: 25px;
    z-index: 10000;
}

#login .get_sms:hover{
    color: #104c89!important;
}

#login .account_message,#login .password_message{
    color: #a100a4;
    height: 15px;
}

#login .other_login_nav{
    margin: 0;
    padding: 20px 70px 20px 70px;
}

#login .other_login{
    float: left;
    width: 25%;
    text-align: center;
}

#login button{
    margin-top: 15px;
    width: 350px;
}