#login{
    padding: 15px 0;
    width: 400px;
    text-align: center;
    background-color: #fafafa;
    position: relative;
    z-index: 1000;
    margin: 22em auto;
}

#login .account_message,#login .password_message{
    color: #a100a4;
    height: 15px;
}

#login .other_login_nav{
    margin: 0;
    padding: 20px 70px 20px 70px;
}

#login .other_login{
    float: left;
    width: 25%;
    text-align: center;
}

#login button{
    margin-top: 15px;
    width: 350px;
}

#top_nav{
    position: fixed;
    top: 0px;
    width: 100%;
    background: linear-gradient(to left, #28a5f5, #1e87f0);
    box-shadow: 8px 2px 8px #888888;
}

/*边栏导航*/
.left_nav {
    z-index: 1000;
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 200px !important;
    padding: 10px 15px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
    box-shadow: 2px 2px 10px #888888;
}

.nav_open{
    z-index: 999;
    position: fixed;
    top:30em;
    width: 40px;
    height: 80px;
    box-shadow: 2px 2px 10px #888888;
    background-color: #1e87f0;
    border-radius: 0 80px 80px 0;
}